* {
  font-family: "Manrope", sans-serif;
}

.main-container {
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}

.card-img-container {
  display: flex;
  height: 200px;
  width: 500px;
  border-radius: 10px;
}
.drawer-img {
  height: 200px;
  width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.first-line {
  font-weight: 700;
  font-size: 13px;
  color: hsl(213, 12%, 29%);
}

.second-line {
  font-size: 13px;
  color: hsl(212, 29%, 58%);
}

.card-content-container {
  text-align: justify;
  padding: 5px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.girl-logo {
  height: 35px;
  width: 35px;
  border-radius: 15px;
}

.girl-name {
  font-weight: 700;
  font-size: 11px;
  margin-left: 10px;
  color: hsl(214, 17%, 51%);
}

.date {
  font-size: 11px;
  color: hsl(212, 23%, 69%);
  margin-left: 10px;
}

.personinfo-container {
  display: flex;
  align-items: flex-end;
}

.share-logo {
  margin-left: auto;
  border-radius: 10px;
  background-color: hsl(200, 8%, 77%);
  height: 21px;
  width: 25px;
  margin-right: 0;
}
